:root {
  --button-bg-color: #4CAF50; /* Primary button background color */
  --button-hover-bg-color: #45a049; /* Button background color on hover */
  --modal-content-bg-color: #ffffff; /* Modal content background color */
  --button-text-color: white; /* Button text color */
  --bg-color: #000000;
}

.button {
  background-color: var(--button-bg-color); /* Use variable for background color */
  color: var(--button-text-color); /* Use variable for text color */
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.button:hover {
  background-color: var(--button-hover-bg-color); /* Use variable for hover background */
}

.modal-content {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--button-bg-color);
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: var(--button-hover-bg-color-bg-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

h2 {
  color: #716d6d;
  text-align: center;
  margin: 1.5rem;
}

.centered-image-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-image-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-image img {
  position: absolute;
  top: 5%;
  left: 25%;
  width: 40%;
  height: auto;
  border-radius: 1%;
  z-index: 2;
  opacity: 0.9;
    animation: edge-walk 20s linear infinite;
}

@keyframes edge-walk {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(60vw, 0);
  }
  50% {
    transform: translate(40vw, 60vh);
  }
  75% {
    transform: translate(0, 80vh);
  }
  100% {
    transform: translate(0, 0);
  }
}